* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;

    background-color: #1F1717;
    color: white;
    font-size: 42px;
    text-align: center;
    align-content: center;
}
#headline{
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: center;
}

.container {
    width: 100%;
    line-height: 100px;
}

#main {
    margin: auto;
    width: 90%;
    max-width: 1400px;
    display: grid;
    min-height: 700px;
    
    grid-template-columns: minmax(120px, 15%) minmax(400px, 45%) minmax(300px, 40%);
    grid-template-rows: 100%;
}

.buttons {
    align-content: center;
    width: 100%;
    height: 100%;
}

#mainButtonBackground {
    width: 100%;
    height: 85%;
    background-color: #811c28;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#mainButtonHolder {
    align-items: center;
    text-align: center;
    display: grid;
    height: 100%;
}
#mainButtonHolder img{
    transition: ease 0.5s;
    margin-top: 5px;
    width: 35px;
}

.mainButton {
    transition: ease 0.5s;
    font-size: 16px;
    font-weight: 700;
    color: #ebf7f6;
    background-color: #c23748;
    margin: auto;
    height: 100%;
    width: 100%;
    border: none;
}

.mainButton:hover {
    font-size: 18px;
    cursor: pointer;
    color: #00d9ff;
    background-color: #811c28;
}
#mainButtonHolder .mainButton:hover img {
    width: 45px;
}

.mainButton:first-child {
    border-top-left-radius: 10px;
}

.mainButton:last-child {
    border-bottom-left-radius: 10px;
}

#mainButtonHolder hr {
    border: none;
}

.content {
    align-content: center;
    width: 100%;
    height: 100%;
}

.contentBackground {
    width: 100%;
    height: 95%;
    background-color: #7ABA78;
    border-radius: 5px;
    align-content: center;
}

#pageContent{
    margin: auto;
    align-content: center;
    width: 95%;
    height: 95%;  
    font-size: 16px;
    line-height: 30px;
}
#whoAmI{
    width: 100%;
    height: 100%;
}
.profile{
    margin: auto;
    width: 100%;
    max-width: 500px;
    height: 100%;
}
.profile hr{
    margin: auto;
    width: 70%;
    border-color: #ebf7f6;
}
.profile .pfp{
    margin: auto;
    width: 70%;
    max-width: 300px;
}
.profile .pfp img{
    border: 2px solid white;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    width: 100%;
}
.profile .myName{
    margin: auto;
    text-align:center;
    align-content: center;
    height: 6%;
    font-size: 26px;
}
.profile .social{
    font-size: 10px;
    line-height: 10px;
    align-content: center;
    height: 10%;
    width: 70%;
    margin: auto;
}
.profile .social img{
    width: 30px;
}
.profile .stats{
    margin: auto;
    border: 2px solid white;
    border-radius: 10px;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    max-width: 400px;
    text-align: left;
    padding: 20px;
    display: flex;
}.profile .stats .part{
    margin-left: 30px;
    width: 50%;
    height: 100%;
}

#projects {
    line-height: 10px;
    width: 100%;
}
.pageHeadline{
    width: 100%;
    min-height: 30px;
    font-size: 20px;
}
#projectContainer{
    margin: auto;
    width: 90%;
    display: grid;
    grid-template-columns: minmax(150px, 50%) minmax(150px, 50%);
    grid-template-rows: minmax(200px, 45%) minmax(200px,45%);
    row-gap: 30px;
}
.project{
    border: 4px #F86F03 solid;
    background-color: #3D3B40;
    border-top-left-radius: 34px;
    border-top-right-radius: 34px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: auto;
    width: 85%;
    min-height: 220px;
}
.projectImage{
    width: 100%;
}
.projectImage img{
    border-radius: 28px;
    width: 100%;
}
.projectExplain{
    margin: auto;
    width: 90%;
    min-height: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 10px;
    line-height: 14px;
}
.projectExplain h4{
    font-size: 14px;
}
.projectButton{
    width: 100%;
    height: 100%;
}
.projectButton button{
    transition: ease 0.5s;
    margin: auto;
    width: 90%;
    height: 30px;
    background-color: #F86F03;
    color: #ebf7f6;
    font-weight: 600;
    border: none;
    margin-bottom: 5px;
}
.projectButton button:hover{
    cursor: pointer;
    width: 95%;
    height: 40px;
    background-color: #b44e00;
}
.projectButton button:active{
    background-color: #612a00;
}
#portfolioButton{
    margin: auto;    
    width: 80%;
    align-content: center;
}
#portfolioButton button{    
    transition: ease 0.3s;
    background-color:#c23748;
    font-size: 16px;
    font-weight: 600;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
    color: #ebf7f6;
    margin: auto;
    width: 80%;
    min-height: 60px;
}
#portfolioButton button:hover{ 
    cursor: pointer;
    background-color:#811c28;
    border-color: #402B3A;
    min-height: 70px;
    font-size: 20px;
}
#portfolioButton button:active{
    background-color:#550e17;
}

#skills {
    color: #F6F5F2;
    line-height: 35px;
    width: 100%;
    align-content: center;
    height: 100%;
}
#skillContainer{
    border: 5px solid #335351;
    background-color: #F6F5F2;
    border-radius: 20px;
    padding-top: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: 33% 33% 33%;
}
.skill img{
    min-height: 40px;
    width: 60%;
}
#business{
    line-height: 35px;
    width: 100%;
    align-content: center;
    height: 100%;
}
#business .pageHeadline{
    color: #1D2B53;
}
#businessContainer{
    margin: auto;
    width: 80%;
    margin-top: 20px;
    text-align: left;
    display: grid;
    grid-template-columns: 100%;

}
.business{
    border: 5px solid #1f266b;
    border-radius: 10px;
    background-color: #687EFF;
    color: #ebf7f6;
    padding: 10px;
    margin-bottom: 10px;
}
.business p{
    line-height: 18px;
}
.businessExplain{
    margin: auto;
    width: 90%;
}


#why img{
    width: 80%;
    max-width: 350px;
}
.info {
    align-content: center;
    width: 100%;
    height: 100%;
}
.info .pageHeadline{
    
    height: 70px;
}
.info br{
    display: block;
    content: "";
    height: 6px;
}
.infoBackground {
    position: relative;
    width: 100%;
    height: 85%;
    background-color: #F86F03;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
#infoAbout{
    margin: auto;
    width: 80%;
    color: #1F1717;
    font-weight: 500;
    font-size: 11px;
    line-height: 16px;
}
#infoAbout p{
    padding: 2px;
    border: 2px solid #c49412;
    border-radius: 20px;
}
#infoAbout img{
    width: 38px;
}



























